
body {
    background-color: #E9ECEF;
}

nav {
    background-color: #414141;
    color:#c2c2c2;
    display: flex;
    margin: 0;
    padding: 10px;
}

.logo {
    margin-right: 10px;
    color: red;
}

nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    
}

nav > ul > li {
    margin-right: 10px;
    
}

nav > ul > li > a {
    color:#c2c2c2;
}

.kit {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    flex-direction: column;
}

.jumbotron > h1 {
    color: red;
}

.jumbotron > h5 {
    color: rgb(255, 153, 0);
}

.card h5 {
    color: rgb(182, 0, 182);
}

.mv {
    padding: 10px;
    background-color: #E9ECEF;
}

.mv > h1 {
    color: rgb(182, 0, 182);
}

.mv > h3 {
    color: rgb(255, 153, 0);
}